@import "/styles/mixins";

.headerWrapper {
  transition: background-color 250ms, transform 450ms, box-shadow 250ms;
  z-index: 50;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 16px $accent-blue-shadow;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include bp_s {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include bp_l() {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.headerTranslucent {
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 0px 16px rgba(17, 17, 26, 0.1);
}

.headerHidden {
  transform: translateY(-10rem);
}

.logo {
  width: 220px;
  display: flex;
  @include bp_l() {
    width: 300px;
  }
}

.navDesktop {
  display: none;
  @include bp_m {
    display: flex;
    gap: 2rem;
    font-size: $body-s;
    align-items: center;
  }
  @include bp_l {
    display: flex;
    gap: 3rem;
    font-size: $body-m;
    align-items: center;
  }
  @media screen and (min-width: 1024px) and (max-width: 1195px) {
    margin-right: -28px;
    display: flex;
    gap: 1.4rem;
    font-size: $body-s;
    align-items: center;
  }
}

.navLink {
  font-family: Menlo;
  color: #405cf5;
  font-weight: 500;
  transition: color 250ms;
  opacity: 100%;

  &:not(:last-child) {
    @include link_hover();
    &:hover {
      color: $accent-blue-dark;
    }
  }
  &:last-child {
    @include button(primary);
    color: white;
    display: flex;
    gap: 1rem;
    font-weight: 500;
    align-items: center;
    @media screen and (min-width: 1024px) and (max-width: 1195px) {
      font-size: 0.8rem;
    }
  }
}

.navLinkActive {
  font-family: Menlo;
  color: $accent-blue-dark;
  font-weight: 500;
  transition: color 250ms;
  position: relative;
  &::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
    content: "";
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
}

.navMobile {
  display: block;
  color: $text-light;
  @include bp_m {
    display: none;
  }
  margin: 0.5rem;
}
