$bg-light: #ebf6f9;
$bg-light--hover: #d7f2fa;
$bg-light--opacity: rgba(193, 226, 246, 0.6);
$bg-dark: #c1e2f6;
$text-dark: white;
$text-light: white;
$shadow: white;
$shadowDark: white;

// $accent-blue: #3c8fd2;
// $accent-blue: #4490c0;
// $accent-blue: #1a507e;
$accent-blue: #023bf3; //#2a51ff
$accent-blue-dark: #0234d9; //hsl(229, 100%, 54%)
$accent-blue-darker: #022bb3; //hsl(229, 77%, 41%)
$accent-blue-shadow: #011c73; //hsl(229, 100%, 54%, 15%)
$accent-yellow: hsl(43, 99%, 66%);
$accent-yellow-dark: hsl(43, 99%, 58%);
$accent-yellow-shadow: hsl(43, 99%, 58%, 15%);
$accent-grey: #4a506891;

$heading-5xl: 3.5rem;
$heading-4xl: 3rem;
$heading-3xl: 2.75rem;
$heading-2xl: 2.255rem;
$heading-xl: 2rem;
$heading-l: 1.75rem;
$heading-m: 1.65rem;
$heading-s: 1.5rem;
$heading-xs: 1.25rem;
$heading-2xs: 1.15rem;

$body-2xl: 1.5rem;
$body-xl: 1.375rem;
$body-l: 1.15rem;
$body-m: 1rem;
$body-s: 0.9rem;
$body-xs: 0.8rem;
